New comments to review
===============
<%= for comment <- comments do %>
Thread: <%= comment.name %>

ID: <%= comment.id %>, <%= comment.inserted_at %>

<%= for line <- String.split(comment.content, "\n") do %>
> <%= line %>
<% end %>

* * *
<% end %>

To review, run:

```
<%= command %>
```

-- Beng notifier
