<!DOCTYPE html>
<html>
  <body>
    <h1>Comments for <a href=""><%= post_name %></a></h1>
    <%= if mode == :submitted do %>
        <p>Your post was submitted and awaits review.</p>
    <% else %>
        <form method="POST">
            <p><textarea name="comment" type="textarea"></textarea></p>
            <p><input type="submit" value="Add comment"></p>
        </form>
    <% end %>
    <ul>
      <%= for comment <- comments do %>
        <li>
            <p>Posted on <time datetime="<%= NaiveDateTime.to_iso8601 comment.inserted_at %>Z"><%= comment.inserted_at %></time></p>
          <p><%= comment.content %></p>
        </li>
      <% end %>
    </ul>
  </body>
</html>

